<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ekaterinakubrina.wordsen">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordsEN">
        <service
            android:name=".notify.NotifyService"
            android:enabled="true"
            android:exported="true"
            android:process=":service"  />

        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.ResultTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.TestingWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.SelectTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WordsEN.NoActionBar" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.MainEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.TestActivity"
            android:allowBackup="false"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WordsEN.NoActionBar" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.SelectLevelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.EntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.SuccessRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.ekaterinakubrina.wordsen.mvp.view.FirstInActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".notify.NotificationNewWordReceiver"
            android:enabled="true"
            android:process=":service" />
        <receiver
            android:name=".notify.NotificationRememberWordReceiver"
            android:enabled="true"
            android:process=":service" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>